ul {
display:inline;
max-width:400px;
line-height:50px;
text-align:center;
vertical-align:middle;
/*background-image:linear-gradient() no-repeat;*/
}

li{
background : white;
border-radius : 10px;
font-size:14px;
text-decoration:none;
float:left;
margin:12px;
padding : 12px;
color:white;
}
.li:hover {
/*background-image:linear-gradient() no-repeat;*/
background : pink;
color : black;
}

a{
text-decoration:none;
}
a:link{
text-transform: uppercase;
}
.navigation{
bakground-color:yellow;
}

#home{
    max-height: 60px;
}